/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    line-height: 1.6;
    background-color: #91ff00;
    color: #000000;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden; /* Limpa floats */
    padding: 0 20px;
}

/* Header */
header {
    background-color: #026d1d;
    color: #fcfcfc;
    padding: 1rem 0;
    border-bottom: #f8f8f8 3px solid;
}

header h1 {
    float: left;
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 15px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s ease;
}

header a:hover {
    color: #32fa00;
}

/* Seções Principais */
section {
    padding: 40px 0;
    margin-bottom: 20px;
    background-color: #029609;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(75, 185, 1, 0.1);
}

section:nth-of-type(odd) { /* Estilo para seções alternadas */
    background-color: #029609;
}

#hero {
    background: #029609;
    color: #00ff00;
    text-align: center;
    padding: 60px 0;
    border-radius: 0; /* Remove border-radius para a seção hero */
    box-shadow: none; /* Remove sombra para a seção hero */
}

#hero h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

#hero p {
    font-size: 1.2em;
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}
